.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid forestgreen;
  border-style: double;
  padding: 10px;
}

body{
  background-color: burlywood;
  font-family: cursive;
}

.header{
  padding: 10px;
}