body{
  background-color: burlywood;
  font-family: cursive;
}

.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid rgb(41, 34, 139);
  border-style: double;
  padding: 10px;
}


.header{
  padding: 10px;
}